@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Gilroy";
}

img {
  display: block;
}

.none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 24px;
  }
}

.section {
  margin-top: 144px;
}
@media (max-width: 768px) {
  .section {
    margin-top: 80px;
  }
}

.carusel-container {
  padding-left: 100px;
}
@media (max-width: 1024px) {
  .carusel-container {
    padding-left: 50px;
  }
}
@media (max-width: 425px) {
  .carusel-container {
    padding-left: 24px;
  }
}

.header {
  padding-top: 44px;
  position: absolute;
  left: 0;
  right: 0;
}

.btn {
  --arrow-right-fill: currentColor;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: background 0.5s ease-in-out;
}
.btn__text {
  line-height: 36px;
  font-size: 20px;
  font-weight: 800;
  display: block;
}
.btn--light {
  color: #114455;
  border: 1px solid currentColor;
}
.btn--light:hover {
  color: #FFFFFF;
  background-color: #114455;
  border: 1px solid #114455;
}
.btn--dark {
  color: #FFFFFF;
  background-color: #114455;
  border: 1px solid #114455;
}
.btn--dark:hover {
  background: none;
  color: #114455;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.header-nav__logo {
  z-index: 3;
}
.header-nav__links {
  display: flex;
  align-items: center;
  -moz-column-gap: 118px;
       column-gap: 118px;
}
@media (max-width: 768px) {
  .header-nav__links {
    display: none;
  }
}
.header-nav__link {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.header-nav__link:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  .header-menu-mobi {
    display: none;
    height: 100vh;
    padding: 0 50px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }
  .header-menu-mobi--is-visible {
    display: block;
  }
}
@media (max-width: 425px) {
  .header-menu-mobi {
    padding: 0 24px;
  }
}

.menu-mobi__title {
  padding-top: 136px;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  color: #1F1F1F;
}
.menu-mobi__contacts {
  margin-top: 80px;
}
.menu-mobi__footer {
  margin-top: 80px;
}

.contacts {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6%;
  color: rgba(31, 31, 31, 0.7);
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.contacts__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  color: #1F1F1F;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.header-mobi-close-btn {
  background-color: unset;
  display: none;
}
@media (max-width: 768px) {
  .header-mobi-close-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 3;
    width: 32px;
    height: 32px;
  }
  .header-mobi-close-btn--is-active .header-mobi-close-btn__line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    background: #114455;
  }
  .header-mobi-close-btn--is-active .header-mobi-close-btn__line:nth-child(2) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    background: #114455;
  }
}
.header-mobi-close-btn__line {
  transition: all linear 0.1s;
  background: #114455;
  height: 2px;
  width: 32px;
}

.first-screen {
  background-image: url("../../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media (max-width: 375px) {
  .first-screen {
    background-image: url("../../img/header/header-bg-mobile.jpg");
  }
}
.first-screen__btn {
  margin-top: 24px;
}
@media (max-width: 375px) {
  .first-screen__btn {
    display: none;
  }
}
.first-screen__bottom-block {
  position: absolute;
  bottom: 58px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 375px) {
  .first-screen__bottom-block {
    bottom: 32px;
  }
}
.first-screen__arrow-down {
  width: 38px;
  height: 28px;
  animation: pulse 2s infinite;
}
@media (max-width: 375px) {
  .first-screen__arrow-down {
    width: 19px;
    height: 16px;
  }
}
.first-screen__container {
  height: 100vh;
  display: flex;
  align-items: center;
}
@media (max-width: 375px) {
  .first-screen__container {
    padding-top: 238px;
    align-items: flex-start;
    justify-content: center;
  }
}
.first-screen__title {
  color: #114455;
  font-size: 80px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .first-screen__title {
    font-size: 38px;
  }
}
.first-screen__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 48px;
}
@media (max-width: 375px) {
  .first-screen__content {
    row-gap: 28px;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .first-screen__desktop-content {
    display: none;
  }
}
.first-screen__mobile-content {
  display: none;
}
@media (max-width: 375px) {
  .first-screen__mobile-content {
    display: block;
  }
}
.first-screen__description {
  color: #1F1F1F;
  font-size: 34px;
  font-weight: 500;
  opacity: 70%;
}
@media (max-width: 768px) {
  .first-screen__description {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .first-screen__description {
    font-size: 16px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.first-screen__logo {
  width: 244px;
  height: auto;
  filter: invert(0%) sepia(100%) saturate(14%) hue-rotate(172deg) brightness(96%) contrast(102%);
}

.case-studies__container {
  max-width: 1076px;
}
@media (max-width: 425px) {
  .case-studies__container {
    max-width: 290px;
  }
}
.case-studies__text {
  margin-top: 12px;
}

.title {
  font-size: 80px;
  color: #1F1F1F;
  font-weight: 800;
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.text {
  font-size: 28px;
  font-weight: 500;
  line-height: 44px;
  color: rgba(31, 31, 31, 0.7);
}
@media (max-width: 1024px) {
  .text {
    line-height: 39px;
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .text {
    line-height: 24px;
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.slider {
  margin-top: 100px;
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
@media (max-width: 375px) {
  .slider {
    margin-top: 32px;
  }
}

.slider__item {
  --city-img-padding: 80px;
  position: relative;
  margin-right: 48px;
}
@media (max-width: 768px) {
  .slider__item {
    --city-img-padding: 50px;
  }
}
@media (max-width: 425px) {
  .slider__item {
    --city-img-padding: 33px;
    margin-right: 32px;
  }
}

.city {
  position: absolute;
  font-weight: 800;
  font-size: 140px;
  left: 0;
  bottom: 114px;
  background-image: linear-gradient(90deg, rgb(17, 68, 85) var(--city-img-padding), rgb(255, 255, 255) var(--city-img-padding));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .city {
    bottom: 22px;
    font-size: 60px;
  }
}

.city-img {
  padding-left: var(--city-img-padding);
}
@media (max-width: 768px) {
  .city-img {
    max-height: 500px;
  }
}
@media (max-width: 425px) {
  .city-img {
    max-height: 264px;
  }
}

.invoriem__container {
  max-width: 1076px;
}
.invoriem__text {
  margin-top: 12px;
}
.invoriem__content {
  margin-top: 78px;
}
@media (max-width: 375px) {
  .invoriem__content {
    margin-top: 40px;
  }
}
.invoriem__video {
  position: relative;
}

.video__img {
  position: absolute;
  top: 0;
  left: 0;
}
.video__stock {
  width: 100%;
  vertical-align: top;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  width: 7%;
}
@media (max-width: 768px) {
  .video__btn {
    width: 12%;
  }
}
@media (max-width: 425px) {
  .video__btn {
    width: 14.7%;
  }
}

.video-overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 68, 85, 0.5);
}

.footer {
  font-size: 20px;
  font-weight: 500;
  color: rgba(31, 31, 31, 0.7);
  line-height: 36px;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .footer {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer__copyright {
    font-size: 16px;
    order: 1;
  }
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 82px;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 118px;
       column-gap: 118px;
}
.footer__mail {
  color: #4A2AD3;
}

.social-links {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
@media (max-width: 1024px) {
  .social-links {
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
}
.social-links__img {
  display: block;
  width: 40px;
  height: 40px;
}
@media (max-width: 425px) {
  .social-links__img {
    width: 24px;
    height: 24px;
  }
}
.social-links__img:hover {
  transform: scale(1.25);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}/*# sourceMappingURL=main.css.map */