* {
    scrollbar-width: thin; 
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

body {
    font-family: 'Gilroy';
    overflow-y: scroll; // костыль для menu-mobi из-за макета
    overflow-x: hidden; // костыль для слайдера из-за макета
}