* {
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}

img {
    display: block;
}

button {
    background: none;
    box-shadow: none;
    border: none;
    appearance: none;
    cursor: pointer;
}