.none {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;

    @media (max-width: 1024px) {
        padding: 0 50px;
    }

    @media (max-width: 425px) {
        padding: 0 24px;
    }
}

.section {
    padding-top: 144px;

    @media (max-width: 768px) {
        padding-top: 80px;
    }
}

.carousel-container {
    padding-left: 100px;

    @media (max-width: 1024px) {
        padding-left: 50px;
    }

    @media (max-width: 425px) {
        padding-left: 24px;
    }
}

.header {
    padding-top: 44px;
    position: absolute;
    left: 0;
    right: 0;
}

.btn {
    --arrow-right-fill: currentColor;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 18px;
    transition: background .5s ease-in-out;

    &__text {
        line-height: 36px;
        font-size: 20px;
        font-weight: 800;
        display: block;
    }

    &--light {
        color: #114455;
        border: 1px solid currentColor;

        &:hover {
            color: #FFFFFF;
            background-color: #114455;
            border: 1px solid #114455;
        }
    }

    &--dark {
        color: #FFFFFF;
        background-color: #114455;
        border: 1px solid #114455;

        &:hover {
            background: none;
            color: #114455;
        }
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    &__logo {
        z-index: 3;
    }

    &__links {
        display: flex;
        align-items: center;
        column-gap: 118px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__link {
        color: black;
        font-size: 20px;
        font-weight: 800;

        &:hover {
            opacity: 70%;
        }
    }
}

.header-menu-mobi {
    display: none;
    height: 100vh;
    padding: 0 50px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;

    @media (max-width: 768px) {
        &--is-visible {
            display: block;
        }
    }

    @media (max-width: 425px) {
        padding: 0 24px;
    }
}

.menu-mobi {

    &__title {
        padding-top: 136px;
        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        color: #1F1F1F;
    }

    &__contacts {
        margin-top: 80px;
    }

    &__footer {
        margin-top: 80px;
    }
}

.contacts {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 6%;
    color: rgba(31, 31, 31, 70%);
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    &__title {
        font-size: 24px;
        font-weight: 800;
        line-height: 26px;
        color: #1F1F1F;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}

.header-mobi-close-btn {
    background-color: unset;
    display: none;

    @media (max-width: 768px) {
        $self: &;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 3;
        width: 32px;
        height: 32px;

        &--is-active {
            #{$self} {
                &__line {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        position: absolute;
                        top: 50%;
                        background: #114455;
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        position: absolute;
                        top: 50%;
                        background: #114455;
                    }
                }
            }
        }
    }

    &__line {
        transition: all linear 0.1s;
        background: #114455;
        height: 2px;
        width: 32px;
    }
}

.first-screen {
    background-image: url('../img/header/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;

    @media (max-width: 375px) {
        background-image: url('../img/header/header-bg-mobile.jpg');
    }

    &__btn {
        margin-top: 24px;

        @media (max-width: 375px) {
            display: none;
        }
    }

    &__bottom-block {
        position: absolute;
        bottom: 58px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;

        @media (max-width: 375px) {
            bottom: 32px;
        }
    }

    &__arrow-down {
        width: 38px;
        height: 28px;
        animation: pulse 2s infinite;

        @media (max-width: 375px) {
            width: 19px;
            height: 16px;
        }
    }

    &__container {
        height: 100vh;
        display: flex;
        align-items: center;

        @media (max-width: 375px) {
            padding-top: 238px;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__title {
        color: #114455;
        font-size: 80px;
        font-weight: 800;

        @media (max-width: 768px) {
            font-size: 38px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 48px;

        @media (max-width: 375px) {
            row-gap: 28px;
            align-items: center;
        }
    }

    &__desktop-content {

        @media (max-width: 375px) {
            display: none;
        }
    }

    &__mobile-content {
        display: none;

        @media (max-width: 375px) {
            display: block;
        }
    }

    &__description {
        color: #1F1F1F;
        font-size: 34px;
        font-weight: 500;
        opacity: 70%;

        @media (max-width: 768px) {
            font-size: 22px;
        }

        @media (max-width: 375px) {
            font-size: 16px;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__logo {
        width: 244px;
        height: auto;
        filter: invert(0%) sepia(100%) saturate(14%) hue-rotate(172deg) brightness(96%) contrast(102%);
    }
}

.case-studies {

    &__container {
        max-width: 1076px;

        @media (max-width: 425px) {
            max-width: 290px;
        }
    }

    &__text {
        margin-top: 12px;
    }
}

.title {
    font-size: 80px;
    color: #1F1F1F;
    font-weight: 800;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.text {
    font-size: 28px;
    font-weight: 500;
    line-height: 44px;
    color: rgba(31, 31, 31, 70%);

    @media (max-width: 1024px) {
        line-height: 39px;
        font-size: 26px;
    }

    @media (max-width: 768px) {
        line-height: 24px;
        font-size: 16px;
    }

    @media (max-width: 425px) {
        font-size: 16px;
        line-height: 24px;
    }

}

.slider {
    margin-top: 100px;
    display: flex;
    column-gap: 48px;

    @media (max-width: 375px) {
        margin-top: 32px;
    }
}

.slider__item {
    --city-img-padding: 80px;
    position: relative;
    margin-right: 48px;

    @media (max-width: 768px) {
        --city-img-padding: 50px;
    }

    @media (max-width: 425px) {
        --city-img-padding: 33px;
        margin-right: 32px;
    }
}

.city {
    position: absolute;
    font-weight: 800;
    font-size: 140px;
    left: 0;
    bottom: 114px;
    background-image: linear-gradient(90deg, rgba(17, 68, 85, 1) var(--city-img-padding), rgba(255, 255, 255, 1) var(--city-img-padding));
    background-clip: text;
    color: transparent;

    @media (max-width: 768px) {
        bottom: 22px;
        font-size: 60px;
    }
}

.city-img {
    padding-left: var(--city-img-padding);

    @media (max-width: 768px) {
        max-height: 500px;
    }

    @media (max-width: 425px) {
        max-height: 264px;
    }
}

.invoriem {
    &__container {
        max-width: 1076px;
    }

    &__text {
        margin-top: 12px;
    }

    &__content {
        margin-top: 78px;

        @media (max-width: 375px) {
            margin-top: 40px;
        }
    }

    &__video {
        position: relative;
    }
}

.video {
    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__stock {
        width: 100%;
        vertical-align: top;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9;
        transform: translate(-50%, -50%);
        width: 7%;

        @media (max-width: 768px) {
            width: 12%;
        }

        @media (max-width: 425px) {
            width: 14.7%;
        }
    }
}

.video-overlay {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 68, 85, 0.5);
    }
}

.footer {
    font-size: 20px;
    font-weight: 500;
    color: rgba(31, 31, 31, 70%);
    line-height: 36px;
    margin-top: 144px;

    @media (max-width: 1024px) {
        font-size: 18px;
    }

    @media (max-width: 768px) {
        margin-top: 80px;
    }

    @media (max-width: 425px) {
        font-size: 16px;
    }

    &__copyright {
        @media (max-width: 768px) {
            font-size: 16px;
            order: 1;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 82px;
        padding-bottom: 82px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            row-gap: 16px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        column-gap: 118px;
    }

    &__mail {
        color: #4A2AD3;
    }
}

.social-links {
    display: flex;
    column-gap: 27px;

    @media (max-width: 1024px) {
        column-gap: 14px;
    }

    &__img {
        display: block;
        width: 40px;
        height: 40px;

        @media (max-width: 425px) {
            width: 24px;
            height: 24px;
        }

        &:hover {
            transform: scale(1.25);
        }
    }
}